.team-wrapper {
  margin: 20px;
}

.modal-form {
  max-width: 600px;
}
.table {
  font-size: larger !important;
}
.form-attributes{
 
  &__item{
  }
}
.form{
  &__content{
   
  }
}
.modal{
  width: 600px !important;
}