@import "./variables";
@import "./mixins";

html {
    font-size: 62.5%;
}

p {
    color: $textColor;
    padding: 2rem;
    background-color: $background;
}

.header {
    padding: 2rem;
    background-color: black;
    &-inner {
        color: white;
        font-size: 24px ;
    }
    &-inner-text {
        color: red;
        &:hover {
            color: yellow;
        }
    }

}

.box {
    margin-top: 40px;
    @include bgc(red);
    @include size(200px, 200px);
    @include absoluteCenter("both");
}