.link-back {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 5%;
    gap: 8px;
    font-size: 24px;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
    border-radius: 5px;
    padding: 6px 12px;
    margin-bottom: 20px;
    
    &:hover {
      background-color: #e3dada;
    }
}

.booking-steps {
    margin: 4% 6%;
}

.content {
    margin-top: 50px;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    background-color: whitesmoke;
}