.Account{
    
    margin: 25px;
    margin-top: 20px;
    background-color: #FFFFFF;
}

.Header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.left{
    display: flex;
    gap: 5px;
}
.right{
    display: flex;
    align-items: center;
    width: 15%;
    justify-content: space-between;
}

.frame010{
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;
    width: fit-content;
}
.account__image-small{
    max-height: 45px;
    max-width: 45px;
    position: relative;
}
.account__image-larger{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.button-head{
    
    cursor: pointer;
    font-size: small;
    font-weight: 200;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: right;
    width: fit-content;
}

.Logout{
    
    background-color:#8DD3BB;
    border: none;
    color: black;
   
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    align-items: flex-start;
    align-self: stretch;
    width: 100%;
    border-radius: 33PX;   
}
.action{
    width: 100%;
    display: flex;
    gap: 30%;
    background-color: whitesmoke;
    /* justify-content: space-evenly; */
}

.image{
    width: 100%;
    margin-right: 5%;
}
.image img {
    display: block;
    margin: 0 auto;
    max-height: 20%;
    max-width: 100%;
    justify-content: center;
}

.form{
    
    height: 70%;
    width: 100%;
}
.end{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
    
    background-color: #14274A;
    padding: 5%;

}
.frame-044{
    display: flex;
    width: 80%;
    height: fit-content;
    justify-content: space-between;
}
.text-1{
    color: white;
    width: 100%;
}
.frame-045{
    width: 20%;
    display: flex;
    flex-direction: column;
}





/**/
.Account_form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
}
.content-text{
    letter-spacing: 0;
    line-height: normal;
    position: relative;    
    width: fit-content;
}
.title-text{
    letter-spacing: 0;
    line-height: normal;
    margin-top: 1px;
    opacity: 0.75;
    position: relative;
    width: fit-content;
}
.frame-text{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}
.change-icon{
    height: 16px;
    width: 16px;
    position: relative;
}
.button-change{
    display: flex;
    height: 50%;
    border-radius: 50pc;
}
.rank{
    width: 100%;
    display: flex;
    height: 50%;
    justify-content: flex-end;
}
.rank img {
    display: block;
    max-height: 5%;
    max-width: 5%;
    justify-content: center;
}
.frame-1{
    width: 50%;
}