@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }  
    @-ms-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }  
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
    animation: #{$str};
}

.wrapper {
    background-color: #FFF8F6;
}

.header {
    position: relative;
}

.nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
}

.header-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    &__logo {
        background-color: #8DD3BB;
        width: 255px;
        height: 130px;
        border-radius: 0 0 50px 50px;
        text-align: center;
        margin-left: 4%;
    }

    &__link {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__auth {
        margin-right: 3%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
    }
}

.logo-main {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 44px;
    margin-top: 24px;
    margin-bottom: 0;
    padding-left: 8px;
    letter-spacing: 4px;
}

.logo-title {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 16px;
    margin-block: 4px;
    padding-left: 8px;
    letter-spacing: 12px;
}

.link-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-item {
    list-style-type: none;
}

.navbar-link {
    font-size: 24px;
    color: white;
    margin-inline: 40px;
    text-decoration: none;
    word-wrap: break-word;

    &__active {
        color: white;
        font-size: 24px;
        margin-inline: 40px;
        font-weight: bold;
        text-decoration: #FFF;
        display: inline-block;
        border-bottom: 3px solid #FFF;
    }

    &:hover {
        cursor: pointer;
    }
}

.auth-login {
    color: #FFF;
    background-color: #8DD3BB;
    border: none;
    font-size: 20px;
    border-radius: 50px;
    padding: 16px 60px;
    
    &:hover {
        cursor: pointer;
        color: #FFF !important;
        background-color: #8DD3BB;
        opacity: 0.8;
        transition: 0.3s;
        border-color: #FFF;
    }
}

.auth-signup {
    color: #FFF;
    border-radius: 50px;
    background-color: #8DD3BB;
    font-size: 20px;
    padding: 16px 60px;
    border: none;
    
    &:hover {
        cursor: pointer;
        color: #FFF !important;
        background-color: #8DD3BB;
        opacity: 0.8;
        transition: 0.3s;
        border-color: #FFF;
    }
}

.image-container {
    background-color: #14274A;
    z-index: 1;

    img {
        object-fit: cover;
        height: 100vh;
    }
}

.header-image {
    width: 100%;
    opacity: 0.5;
}

.header-middle {
    width: 100%;

    &__content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__title {
        color: #FFF;
        font-size: 36px;
        font-weight: lighter;
        margin-top: 160px;
        letter-spacing: 4px;
        margin-bottom: 4px;
        margin-left: 7%;
    }

    &__brand {
        color: #FFF;
        font-size: 80px;
        font-weight: 500;
        margin-top: 4px;
        letter-spacing: 4px;
        margin-bottom: 16px;
        margin-left: 7%;
    }

    &__desc {
        color: #FFF;
        font-size: 28px;
        font-weight: 400;
        margin-top: 16px;
        display: inline-block;
        max-width: 525px;
        margin-left: 7%;
    }
}

.header-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 2;
    bottom: 10%;
}

.btn-booking {
    color: #FFF;
    font-weight: 500;
    background-color: #8DD3BB;
    border: none;
    border-radius: 8px;
    padding: 16px 48px;
    transition: 0.3s;

    &__title {
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 4px;
        margin-left: 16px;
        border-bottom: none;
    }

    &:hover {
        cursor: pointer;
        background-color: #8DD3BB;
        color: #FFF;
        opacity: 0.8;
    }
}

.section-overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    margin-inline-start: 6%;
    margin-inline-end: 9%;
    gap: 40px;
    margin-bottom: 60px;

    &__title {
        font-size: 60px;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        color: #14274A;
        text-align: center;
        margin-bottom: 8px;
    }

    &__desc {
        font-size: 26px;
        font-weight: 500;
        color: #14274A;
        text-align: center;
        max-width: 99%;
        margin-top: 8px;
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 4%;
    }
}

.content-left {
    margin-inline-end: 4%;
    position: relative;

    &::after {
        position: absolute;
        content: "";
        top: 50%;
        transform: translateY(-50%);
        border: 1px solid #14274A;
        height: 460px;
        margin-left: 10%;
    }
}

.content-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-between;
    // margin-right: 10%;

    &__title {
        font-size: 60px;
        font-family: 'Times New Roman', Times, serif;
        margin-top: 0;
        color: #14274A;
    }

    &__detail {
        color: #14274A;
        font-size: 20px;
        max-width: 600px;
        line-height: 32px;
        display: block;
        margin-bottom: 30px;
    }
}

.content-img {
    width: 70%;
}

.section-testimonial {
    display: flex;
    background-color: #D6EAFF;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-block: 40px;

    &__title {
        font-size: 46px;
        color: #14274A;
    }

    &__container {
        position: relative;
        max-width: 900px;
        width: 100%;
        background-color: #FFF;
        padding: 50px 16px;
    }
}

.testimonial-content {
    padding: 16px;
}

.testimonial-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
}

.testimonial-slide p {
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    color: #333
}

.quote-icon {
    font-size: 30px;
    color: #14274A
}

.testimonial-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-name {
    font-size: 18px;
    font-weight: 600;
    color: #14274A;
}

.testimonial-job {
    font-size: 16px;
    font-weight: 400;
    color: #333
}
