.footer {
    height: 400px;
    background-color: #14274A;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-content {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;

}

.footer-item {
    list-style-type: none;
    color: #FFF;
    margin-block: 16px;
    max-width: 200px;
    font-size: 18px;

    &__link {
        font-size: 20px;
        color: #FFF;
        text-decoration: none;
    }

    &__navigate {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        color: #FFF;
        text-decoration: none;
        gap: 16px;
    }
}

.footer-address {
    margin-top: 12px;
    margin-bottom: 40px;
    color: #FFF;
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer-contact {
    margin-top: 12px;
    margin-bottom: 40px;
    color: #FFF;
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer-follow-us {
    margin-top: 12px;
    margin-bottom: 40px;
    max-width: 300px;
    color: #FFF;
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer-copyright {
    color: #ccc;
    font-size: 18px;
    margin-inline-start: 12%;
}